@import "../../styles/varibles";

.bodyOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  height: 100vh;
  width: 100%;
  background-color: #000000a6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border-radius: 50%;
  border: 0.5rem solid #ffffff00;
  border-top: 0.5rem solid $primary;
  border-right: 0.5rem solid $primary;
  width: 4rem;
  height: 4rem;
  -webkit-animation: spin 0.75s linear infinite; /* Safari */
  animation: spin 0.75s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin: 25px auto;
  background-color: $light;
  // box-shadow: 0 0px 20px 0px #eae8e8;
  h1 {
    font-weight: 200;
    color: $primary;
    margin-top: 0;
  }
  label {
    align-self: flex-start;
    // color : $primary
  }
  input,
  select {
    width: 100%;
    padding: 12px 5px;
    margin: 0 0 20px 0;
    display: inline-block;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    &:focus {
      outline: none;
      background-color: $off-light;
    }
  }
  .alternative{
    span{
      color: $primary;
      font-weight: 500;
      cursor: pointer;
      &:hover{
        color: $primary-light;
      }
    }
  }
}
