@import "../../styles/varibles";

.bodyOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  height: 100vh;
  width: 100%;
  background-color: #000000a6;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form {
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin: 25px auto;
  background-color: $light;

  // box-shadow: 0 0px 20px 0px #eae8e8;
  h3 {
    font-weight: 200;
    // color: $primary;
    margin-top: 0;
  }
  label {
    align-self: flex-start;
    // color : $primary
  }
  input,
  select {
    width: 100%;
    padding: 12px 5px;
    margin: 0 0 20px 0;
    display: inline-block;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    &:focus {
      outline: none;
      background-color: $off-light;
    }
  }
  .eyeIcon {
    position: absolute;
    left: 0.75rem;
    top: 25%;
    cursor: pointer;
    color: $mid-grey;
    &:hover {
      filter: brightness(0.5);
    }
  }
  .error {
    color: $error;
  }
  .alternative {
    span {
      color: $primary;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        color: $primary-light;
      }
    }
  }

  button{
    width: 100%;
  }
}
