@import "../../styles/varibles.scss";

$image-hight-lg:30rem;
$image-hight-sm:20rem;

.slide{
    cursor:grab;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    padding: 5rem 10rem;
    background-color: rgba(0, 0, 0, 0.5);
   h1{
       color: $light;
       font-size: 2rem;
   }
   p{
    color: $light;
    font-size: 1.2rem;

   }
   

    @media (max-width : 768px) {
        padding: 1rem 0rem 5rem 0rem;
    }
}