@import "../../styles/varibles.scss";

$image-hight-lg:30rem;
$image-hight-sm:20rem;

.slide{
    cursor:grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .imgContainer{
        min-height: $image-hight-lg !important;
        width: 47.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 100%;
            max-height: $image-hight-lg;
            border-radius: 0.25em;
        }
    }
    .info{
        width: 47.5%;
        user-select: none;
        text-align: start;
        h1{
            font-size: 2.8rem;
            margin: 0 0 1rem 0;
        }
        p{
            margin-bottom: 1.5rem;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.6;
            @media (max-width : 768px) {
                line-height: 1.25rem;
            }
        }
        @media (max-width : 768px) {
            h1{
                font-size: 1.8rem;
            }
          }
    }

    @media (max-width : 768px) {
        flex-direction: column;
        .imgContainer{
            min-height: $image-hight-sm !important;
            width: 100%;
            img{
                max-height: $image-hight-sm;
            }
        }
        .info{
            width: 100%;
        }
    }
}