@import "../../styles/varibles.scss";

$image-hight-lg: 30rem;
$image-hight-sm: 20rem;

.slide {
    cursor: grab;
    background-image: url("https://res.cloudinary.com/yuppiechef/image/upload/f_auto,w_960/v1/pagebuilder/27/cookware-header-banner-1576827754");
    background-size: cover;
    .overLay{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .slideWrapper {
        height: 66vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
            color: $light;
            font-size: 2rem;
            max-height: 25%;
            overflow: hidden;
            @media (max-width: 768px) {
                font-size: 1.25rem;
            }
        }
        p {
            color: $light;
            max-height: 30%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            
            @media (max-width: 768px) {
                -webkit-line-clamp: 6;
            }
        }

        @media (max-width: 768px) {
            padding: 0 15%;
        }
    }
}
