@import "../../styles/varibles.scss";
.PrimaryButton{
    border: none;
    border-radius: 0.25rem;
    color: $light;
    background-color: $primary;
    transition: $trans-250;
    font-weight: 500;
    font-size: 1rem;
    @media (max-width : 768px) {font-size: 1.2rem}
    font-family: $mainFontFamily;
    padding: 0.5rem 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{background-color: $primary-dark;}
    &:disabled{opacity: 0.33;}
}