@import "../styles//varibles.scss";

.header {
  font-family: $mainFontFamily;
  background-color: $light;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;

  .upperHeaderWrapper {
    background-color: $primary-dark;

    a {
      cursor: pointer;
      color: $light;
      text-decoration: none;
      margin: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &:hover {
        color: $light;
        path {
          stroke: $light;
        }
      }

      @media (max-width: 768px) {
        margin: 0 0.25rem;
        font-size: 0.8rem;
        svg {
          font-size: 1.35rem;
        }
      }
    }
  }

  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0.5rem 0;
  }

  .logoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      margin: 0 0.5rem 0 0.75rem;
      font-size: 2rem;
      color: $primary-light;
      cursor: pointer;
    }
  }
  .searchBox {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    direction: rtl;
    border: 1px solid $primary;
    border-radius: 0.25rem;
    overflow: hidden;
    margin: 0rem 5%;
    transition: all 0.5s ease;
    @media (min-width: 768px) and (max-width: 1200px) {
      margin: 0rem 2%;
    }

    @media (max-width: 600px) {
      // position: absolute;
      // top: 110%;
      // left: 50%;
      // transform: translateX(-50%);
      // margin: 0rem 0%;
      // width: 90vw;
    }

    input {
      padding: 0.5rem;
      border: none;
      font-size: 1rem;
      flex-grow: 1;
      @media (min-width: 601px) and (max-width: 900px) {
        max-width: 8rem;
      }
    }

    button {
      border-radius: 0;
      @media (max-width: 900px) {
        // display: none;
      }
    }
  }

  .navLinks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .userAvatar {
      width: 1.25rem;
    }
    svg {
      margin: 0 0 0 1rem;
      font-size: 1.5rem;
      color: $primary-light;
      cursor: pointer;
    }
  }

  .tab {
    cursor: pointer;
    color: $dark;
    text-decoration: none;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
      color: $primary;
    }

    @media (max-width: 768px) {
      margin: 0rem;
    }

    .logoImg {
      width: 10rem;
      @media (max-width: 768px) {
        width: 6rem;
      }
    }
  }
  .dropDownTap {
    cursor: pointer;
    color: $dark;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin: 0rem 1rem;
    @media (max-width: 768px) {
      margin: 0rem 0.66rem;
    }
    &:hover {
      .dropDownMenu {
        display: block;
      }
    }
    &:focus {
      .dropDownMenu {
        display: block;
      }
    }
    .dropDownMenu {
      display: none;
      position: absolute;
      top: 100%;
      width: max-content;
      min-width: 12rem;
      background: $light;
      border: 1px $light-grey solid;
      border-radius: 0.4rem;
      overflow: hidden;
      box-shadow: $shadow;
      ul {
        margin: 0;
        padding: 0;
        li {
          padding: 0.75rem;
          margin: 0;
          transition: $trans-250;
          &:hover {
            background-color: $primary;
            color: $light;
          }
        }
      }
    }
  }

  .searchIcon {
    display: none;
    cursor: pointer;
    padding: 0.5rem 0.5rem 0px 0px;
    @media (max-width: 600px) {
      display: inline-block;
    }
    &:hover {
      color: $primary-light;
    }
  }
}

.footer {
  .mainFooter {
    background-color: $primary-dark;
    color: $off-light;
    padding: 2rem 0;

    .mainFooterWrapper {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      .address,
      .contacts,
      .we,
      .social {
        position: relative;
        width: 25%;
        .logoImg {
          position: absolute;
          width: 8rem;
          top: 38%;
          left: 90%;
          transform: rotateZ(90deg);
          @media (max-width: 768px) {
            display: none;
          }
        }
        h4 {
          font-family: $mainFontFamily;
          font-weight: 700;
          margin: 0;
          margin-bottom: 1rem;
        }

        a {
          font-weight: 300;
          width: 100%;
          margin-bottom: 0.66rem;
          @media (max-width: 768px) {
            justify-content: center;
            width: auto;
            margin-inline: 1rem;
          }
        }

        p {
          font-weight: 200;
          color: inherit;
          color: $off-light;
          margin: 0rem;
        }
      }

      .contactLink {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          justify-content: center;
          display: inline-flex;
        }
        span {
          &:hover {
            text-decoration: underline;
          }
        }

        svg {
          color: $light;
          font-size: 1.4rem;
          transition: $trans-250;
          @media (max-width: 768px) {
            font-size: 2.2rem;
          }
        }
      }

      .address {
        iframe {
          width: 100%;
          height: auto;
          border: none;
          filter: hue-rotate(285deg);
        }
      }

      .contacts {
        .whatsapp {
          display: flex;
          align-items: center;
          @media (max-width: 768px) {
            display: inline-flex;
            justify-content: center;
          }

          svg {
            color: $light;
            font-size: 1.6rem;
            transition: $trans-250;
            @media (max-width: 768px) {
              font-size: 2.2rem;
            }
          }

          &:hover {
            span {
              text-decoration: underline;
            }
            svg {
              color: #00e676;
            }
          }
        }
      }

      .social {
        a {
          svg {
            font-size: 1.6rem;
          }
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
        .address,
        .contacts,
        .we,
        .social {
          width: 100%;
          text-align: center;
          margin-bottom: 2rem;
        }
      }
    }
  }

  .miniFooter {
    background-color: $primary-dark;
    filter: brightness(0.85);
    text-align: center;
    padding: 0.5rem;

    span {
      color: $off-light;
      opacity: 90%;
      font-weight: 200;
    }
  }
}

.sideMenu_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  direction: rtl;
  overflow: hidden;
  .sidemenu {
    width: 85%;
    height: 100%;
    background-color: $light;
    overflow: auto;
    animation-name: slideFromRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    & > div {
      padding: 1rem;
      border-bottom: 1px $light-grey solid;
    }

    .sidemenu_header {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      svg {
        font-size: 2.5rem;
        cursor: pointer;
      }
      .sidemenu_logo {
        width: 9rem;
        margin: 0 1rem 0 0px;
      }
    }

    .sidemenu_section {
      h3 {
        margin-top: 0;
      }
      a {
        display: block;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
        &:hover{
          color: $primary;
        }
      }
    }
  }
}



@keyframes slideFromRight {
  0% {transform: translateX(100%)}
  100% {transform: translateX(0%)}
}