@import "../styles//varibles.scss";

.header {
  font-family: $headingFontFamily;
  background-color: $light;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;

  .upperHeaderWrapper {
    background-color: $primary-dark;

    a {
      cursor: pointer;
      color: $light;
      text-decoration: none;
      margin: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &:hover {
        color: $light;
        path {
          stroke: $light;
        }
      }
      
      @media (max-width: 768px) {
        margin: 0 0.25rem;
        font-size: 0.8rem;
        svg {
          font-size: 1.35rem;
        }
      }
    }
  }

  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }

  .navLinks {
    display: flex;
    justify-content: flex-start;
    .userAvatar {
      width: 1.25rem;
    }
  }

  .tab {
    cursor: pointer;
    color: $dark;
    text-decoration: none;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
      color: $primary;
    }

    @media (max-width: 768px) {
      margin: 0rem;
    }

    .logoImg {
      width: 10rem;
      @media (max-width: 768px) {
        width: 8rem;
      }
    }
  }

  .dropDownTap {
    cursor: pointer;
    color: $dark;
    text-decoration: none;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    &:hover {
      .dropDownMenu {
        display: block;
      }
    }
    &:focus {
      .dropDownMenu {
        display: block;
      }
    }
    .dropDownMenu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0%;
      width: max-content;
      min-width: 13rem;
      background: $light;
      border: 1px $light-grey solid;
      border-radius: 0.4rem;
      overflow: hidden;
      box-shadow: $shadow;
      ul {
        margin: 0;
        padding: 0;
        li {
          padding: 0.75rem;
          margin: 0;
          transition: $trans-250;
          &:hover {
            background-color: $primary;
            color: $light;
          }
        }
      }
    }
  }
}

.footer {
  .mainFooter {
    background-color: $primary-dark;
    color: white;
    padding: 1rem 0;

    .mainFooterWrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .address,
      .contacts,
      .social {
        width: 25%;
        h4 {
          font-family: $mainFontFamily;
          font-weight: 400;
          margin-bottom: 1rem;
        }

        a {
          font-weight: 300;
          width: 100%;
          margin-bottom: 0.66rem;
        }

        p {
          font-weight: 200;
          color: inherit;
        }
      }

      .contactLink {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          justify-content: center;
        }
        span {
          &:hover {
            text-decoration: underline;
          }
        }

        svg {
          color: $light;
          font-size: 1.4rem;
          transition: $trans-250;
        }
      }

      .address {
        iframe {
          width: 100%;
          height: auto;
          border: none;
          filter: hue-rotate(285deg);
        }
      }

      .contacts {
        .whatsapp {
          display: flex;
          align-items: center;
          @media (max-width: 768px) {
            justify-content: center;
          }

          svg {
            color: $light;
            font-size: 1.6rem;
            transition: $trans-250;
          }

          &:hover {
            span {
              text-decoration: underline;
            }
            svg {
              color: #00e676;
            }
          }
        }
      }

      .social {
        a {
          svg {
            font-size: 1.6rem;
          }
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
        .address,
        .contacts,
        .social {
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .miniFooter {
    background-color: $primary-dark;
    filter: brightness(0.85);
    text-align: center;
    padding: 0.5rem;

    p {
      color: $off-light;
      opacity: 90%;
      font-weight: 200;
    }
  }
}
