@import "../../../styles/varibles.scss";

$image-hight-lg:30rem;
$image-hight-sm:20rem;

.productSection{
    &:nth-child(odd){
        background-color: $off-light;
    };
    &:nth-child(even){
        box-shadow: inset 0px 0px 3px 0px rgba(0 ,0 ,0 , 0.15);
        .productSectionContainer{
            flex-direction: row-reverse
        }
    };

    padding: 2rem 0rem;
    display: flex;
    align-items: center;
}
.productSectionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .imgContainer{
        min-height: $image-hight-lg !important;
        width: 47.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0rem;

        img{
            // important tp over Right the "react-image-gallery" styiling.
            max-height: $image-hight-lg !important;
            max-width: 100%;
            border-radius: 0.25em;
        }
    }
    .info{
        width: 47.5%;
        margin: 2rem 0rem;
        .superTitle{
            margin-bottom: 0rem;
            color: $primary;
            
        }
        .title{
            font-size: 2.6rem;
            margin: 0 0 1rem 0;
            @media (max-width : 768px) {
                font-size: 1.8rem;
              }
        }
        .description{
            margin-bottom: 1.5rem;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.6;
            @media (max-width : 768px) {
                line-height: 1.25rem;
              }
        }
        ul{
            padding-left:1rem;
            margin-bottom: 3rem;
            list-style: none;
            font-family: $headingFontFamily;
            li{
                display: flex;
                align-items: center;
                svg{
                    font-size: 1.1rem;
                    color: $primary;
                }
                text-transform: capitalize;
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 0.85rem;
                @media (max-width : 768px) {
                    margin-bottom: 0.25rem;
                  }
            }

            @media (max-width : 768px) {
                margin-bottom: 1.5rem;
              }
        }

    }

    @media (max-width : 991px) {
        flex-direction: column !important;
        .imgContainer, .info{
            width: 100%;
        }
    }

    @media (max-width : 768px) {
        flex-direction: column !important;
        .imgContainer{
            min-height: $image-hight-sm !important;
            width: 100%;
            margin: 0rem;
            img{
                // important tp over Right the "react-image-gallery" styiling.
                max-height: $image-hight-sm !important;
            }
        }
        .info{
            margin: 0rem;
            width: 100%;
        }
        
      }
}