$mainFontFamily: 'segoe';
$numFontFamily : "times";
$secondFontFamily: 'Cairo', sans-serif;
$headingFontFamily: 'Tajawal', sans-serif;

$primary  :rgb(155, 1, 218);
$primary-light  :rgb(183, 0, 255);
$primary-dark  :rgb(111, 1, 155);
$light : white;
$off-light : #fafafa;
$dark : black;
$body-dark:#6b6b84;
$light-grey:#eee;
$mid-grey:#d0d0d0;

$error : #d80000;
$success : #1e7e34;

$trans-250: 0.25s all ease;
$shadow: 0 0 10px 0 #8d8d8d;