$mainFontFamily: 'Tajawal', sans-serif;
$headingFontFamily: 'Tajawal', sans-serif;

$primary  :rgb(155, 1, 218);
$primary-light  :rgb(183, 0, 255);
$primary-dark  :rgb(111, 1, 155);
$light : white;
$off-light : #fafafa;
$dark : black;
$body-dark:#6b6b84;
$light-grey:#eee;
$mid-grey:#d0d0d0;

$error : rgb(255, 0, 0);

$trans-250: 0.25s all ease;
$shadow: 0 0 20px 0 #eae8e8;